$mapaColores: (
color1: yellow,
color2: red,
color3: black,
color4: green,
color5: rgb(21, 230, 230) 
);

$color3: map-get($mapaColores, color3 );

@mixin noR-cover-center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}




.header{

    h1{
     font-family: 'Oleo Script', cursive;
     text-align: center;
     font-size: 80px;
     margin-right: 300px;
        
    }
    
    nav{
     display: inline;
     font-size: 50px;
     margin: 15px;
     font-family: 'Oleo Script', cursive;
     border:solid 1px $color3;
     background-color: $color3;
     color: aliceblue;


    }
    


}

.cuadrofotoprincipal{
        height: 100px;
        width: 614px;
        border: 1px solid $color3;
       margin-top: 5px;
       display: block;
       
}

.foto{
    background-image: url(../img/HD-wallpaper-jack-daniels-whiskey-jack-daniels-ice-can.jpg );
    @include noR-cover-center();

}
.caja{
    height: 100px;
    width: 614px;
    border: 1px solid $color3;
   margin-top: 5px;
   display: block;
}

.caja--grande--border{
    @extend.caja--grande--border; 
  
   border: 1px solid $color3;
   margin-top: (20px)/2;
   
}










